.sidebar{
    height:100%;
    width:10%;
    background-color: #000;
    display: flex;
    flex-direction: column;
    align-items: center;
    min-width: 50px;
    &__userControls{
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    &__login{
        padding: 0 10px;
        margin-bottom: 10px;
        font-size: 1.5rem;
    }
}