.button {
  border: 0;
  display: block;
  width: 200px;
  height: 75px;
  cursor: pointer;
  background-color: #5b8632;
  color: #fff;
  font-family: Comfortaa, sans-serif;
  text-decoration: none;
  &--blocked{
    background-color: #232323;
    color: #484848;
  }
  &.button--blocked:hover{
    cursor: inherit;
    background-color: #232323;
    color:#484848;
  }
  &--margin--15{
    margin: 15px;
  }
  &--corners--rounded{
    border-radius: 0.5rem;
  }
  &:hover {
    background-color: #507729;
  }

  &:active {
    border: 3px #3a561f solid;
  }
}
.any{
  background-image: url("../../img/any.png");
}



.options{
  display: flex;
  flex-wrap:wrap;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 0 10px;
  >input{
    margin:0
  }
  &__option{
    background-repeat: no-repeat;
    box-sizing: border-box;
    background-size: 100%;
    display: block;
    width: 50px;
    height: 50px;
    border: 0;
    cursor: pointer;
    &:hover{
      border: 3px solid #b9b9b9;
      border-radius: 5px;
    }

  }
  input[type=radio] {
    width: 0;
    height: 0;
    border-width: 0;
    visibility: hidden;
    padding-inline: 0;
  }

  :checked+label{
    border: 3px solid #a1a1a1;
    border-radius: 5px;
  }

}